.regPageStyle {
    text-align: center;
    background-image: url('Background/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regContainerStyle {
    text-align: center;
    background-color: white;
    width: 450px;
    height: 530px;
    border-radius: 10px;
}

.regFormStyle {
    display: inline-block;
    text-align: left;
}

.regTableStyle {
    border-collapse: separate;
    border-spacing: 15px 8px;
    margin: auto;
}

.regTitleStyle {
    font-family: Times New Roman;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 85px;
    color: black;
}

.regFirstColumnStyle {
    text-align: left;
    font-weight: bold;
}

.regSecondColumnStyle {
    text-align: center;
}